* {
padding: 3;
margin: 3;
color: #566D76;
}
body{
    background-color: #FAF8D4;
}


Nav {
text-align: center;
}

Form{
    padding-left: auto ;
    padding-right: auto ;
}

Button{
    background-color: #566D76;
}

p, h1{
    margin-left: 2vw;
    text-indent: 4vw;
}
#pfp{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#form {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* #resume{
    text-align: center;
} */
Card{
    background-color: #FAF8D4;
}

footer{
position: relative;
align-content: center;
bottom: -27vh;
left: 40vw;
width: 100%;
height: 10vh;
display: inline-block;
}